.App {
  text-align: center;
  background: #ffffe6;
  height: 100vh;
}

.App-logo {
  height: 41vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  color:#804d00;
}
.user{
  
  background: #b36b00;
  width:40%;
  padding:5%;
  margin:2% 0 0 26%;
  border:black;
  border-radius: 15px;
  
}

.form{
  display:flex;
  flex-direction:column;
  align-items:center;
  background: #b36b00;
  padding:5%;
  width:40%;
  margin-left:26%;
  border-radius: 15px;
  
}

.form:hover{
  background: #331e00;
  color: white;
}
.label{
  margin:1.5%;
  width: 35%;
  
}


button:hover{
  background: black;
  color: white;

}

/* .field:hover{
  color: red;
} */

